body{
	margin: 0;
	padding: 0;
}
main{
	border: 3px solid #123251;
	width: 600px;
	margin: auto;
}
h1{
	margin: auto;
	background-color: #123251;
	color: #EFEFEF;
	height: 50px;
	width: 600px;
	text-align: center;
}


.matrice{
	display: flex;
	width: 600px;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.matrice div{
	border: 3px solid #123251;
}
.content-circle{
	margin: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.content-square{
	margin: 20px;
	width: 60px;
	height: 60px;
	transform: scale(0.9);
}

.content-diamond{
	margin: 20px;
	width: 60px;
	height: 60px;
	transform: rotate(45deg) skew(18deg, 15deg) scale(0.8);
}

.buttons{
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 500px;
	height: 50px;
}

#btnFull{
	border: 3px solid #123251;
	width: 100px;
	height: 50px;
	background-color: #123251;
	color: #EFEFEF;
}

#btnFull:hover{
	border: 3px solid #123251;
	border-bottom: 3px solid red;
	width: 100px;
	height: 50px;
	background-color: #123251;
	color: #EFEFEF;
}

#btnFull:focus{
	border: 3px solid #123251;
	border-bottom: 6px solid red;
	width: 100px;
	height: 50px;
	background-color: #123251;
	color: #EFEFEF;
}
#btnEmpty{
	border: 3px solid #123251;
	width: 100px;
	height: 50px;
	background-color: #EFEFEF;
	color: #123251;
}

#btnEmpty:hover{
	border: 3px solid #123251;
	border-bottom: 3px solid red;
	width: 100px;
	height: 50px;
	background-color: #EFEFEF;
	color: #123251;
}

#btnEmpty:focus{
	border: 3px solid #123251;
	border-bottom: 6px solid red;
	width: 100px;
	height: 50px;
	background-color: #EFEFEF;
	color: #123251;
}

.full{
	background-color: #123251;
	border: 3px solid #123251;
}
