body{
	margin: 0;
	padding: 0;
}


.matrice{
	display: flex;
	width: 500px;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid;
}
.content-circle{
	margin: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.content-square{
	width: 50px;
	height: 50px;
}

.content-diamond{
	width: 50px;
	height: 50px;
	transform: rotate(45deg);
}

.buttons{
	margin: auto;
	padding-top: 10px;
	text-align: center;
	width: 500px;
	height: 50px;
}

.buttons input{
	border: 0;
	width: 100px;
	height: 50px;
	background-color: #123251;
	color: #EFEFEF;
}

.buttons input:hover{
	border: 0;
	width: 100px;
	height: 50px;
	background-color: #EFEFEF;
	color: #123251;
}

.full{
	background-color: black;
	border: 3px solid;
}

.empty{
	border: 3px solid;
}